* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	line-height: normal;
	color: var(--primary-5, #0e0d0b);
}

:root {
	--primary-5: #0e0d0b;
	--primary-94: #f1f0ee;
	--primary-75: #c6bfb9;
	--secondary-94: #f0e1f9;
	--secondary-50: #9d34da;
	--tertiary-40: #0a85d1;
	--grey-100: #ffffff;
	--shadow-1: 0px 4px 4px #000000;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.link {
	display: inline-flex;
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 400;
}

.link-black {
	background: var(--primary-5, #0e0d0b);
	color: var(--grey-100, #fff);
}

.link-white {
	background: var(--grey-100, #fff);
	color: var(--primary-5, #0e0d0b);
}

.link-off-white {
	background: var(--primary-94, #f1f0ee);
	color: var(--primary-5, #0e0d0b);
}

/* -----Nav----- */
nav {
	display: flex;
	width: 100%;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}

.nav-logo-left,
.nav-left,
.nav-right {
	display: flex;
	align-items: center;
}

.nav-right,
.nav-left {
	gap: 8px;
}

.nav-logo-left {
	gap: 16px;

	img {
		width: 105px;
		height: 30px;
	}
}
