:root {
	--primary-5: #0e0d0b;
	--primary-94: #f1f0ee;
	--primary-75: #c6bfb9;
	--secondary-94: #f0e1f9;
	--secondary-50: #9d34da;
	--tertiary-40: #0a85d1;
	--grey-100: #ffffff;
	--shadow-1: 0px 4px 4px #000000;
}
